.card-soins {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 0 20px;
    box-shadow: 0px 0px 3px grey;
}
.fond {
  background: url(https://images.unsplash.com/photo-1546387903-6d82d96ccca6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);
  background-size: cover;
  background-position-x: right;
}

.fond div h1 {
 font-size: 50px;
}


.box-cards {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}

.box-cards > button {
  margin: 15px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 15px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos div {
  display: flex;
}

.card-product-infos div p {
  margin: 4px 11px 10px;
}

.cards h2 {
  color:#99C1A9;
}

.card-soins p {
  font-size: 20px;
  padding-top: 30px;
  margin: 0px;
}

.cards {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .test {
    padding-bottom: 30px;
  }
}
