<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/bloomspa_/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/emma-duquesne-66761a198/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    bloomspa.fr©
  </div>
</div>
