.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.reservation {
  background-color: #99C1A9;
  border-radius: 3px;
  transition: 0.2s;
  margin-left: 8px;
  &:hover {
    background-color: #A8D6BC;
  }
}

.logo {
  display: flex;
}

.logo h1 {
  font-family: Roboto;
  margin-top: 26px;
}

h1 {
  font-family: Roboto;
}
